body {
  background-color: #e9ecef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #007bff;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.form-control {
  font-size: 18px;
  padding: 14px;
  border-radius: 5px;
  width: 85%;
}

.btn-primary {
  width: 100%;
  font-size: 18px;
  padding: 14px;
  margin-top: 10px; /* Added space between button and form */
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #003978;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}